<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="useSQL" value="true"/>
  </appSettings>
	<connectionStrings>
		<add name="sql" connectionString="Data Source=(local);Initial Catalog=UsersAndAwards;User ID=sa;Password=123" />
	</connectionStrings>
</configuration>